<h4>
 This is my index page.
</h4>

<p>
 Check out my <%= link_to 'About page', page_path('about') %>. Once you click on it, you'll see an error message.
</p>

<code>
ailed to execute 'postMessage' on 'DOMWindow': The target origin provided ('https://js.stripe.com') does not match the recipient window's origin ('http://localhost:3000').
</code>